[defaults]
inventory           = /home/faustin/ansible-project/inventory/hosts.yaml
host_key_checking   = false
retry_files_enabled = false
remote_user         = faustin
become_ask_pass     = True

[privilege_escalation]
become        = True
become_method = sudo

[inventory]
enable_plugins = yaml, ini
